# Ignore các file nặng của AI
models/mlc_models/
models/hf_models/
*.whl
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Swift build cache
apps/ios_app/MLCSwift/.build/
apps/ios_app/MLCChat/.build/
*.xcuserstate
xcuserdata/
DerivedData/
